
body{
    background:rgb(149, 241, 0);
    text-align: left;
    cursor:url("image.copy.png"),pointer;
    
       
h1{
    color:red;
    background-image: url('E6sr.gif'); 
    -webkit-background-clip: text; 
    color: transparent; 
    
}
ul{
    color:green;
    
}
}
h2{
    color:purple;
    background-image: url('E6sr.gif'); 
    -webkit-background-clip: text; 
    color: transparent; 
}
img{
    border-style: dashed;
    border-width: thick;
    border-color:blue;
   
}

   
    
